{% extends 'base.html' %}
{% block titulo %} Yutesa {% endblock %}

{% block contenido %}
    <article>
            <h1>¿Quienes Somos?</h1>
            <p>Somos <strong>yutesa</strong></p>
        <section>
            <h1>¿Que hacemos?</h1>
             <p>Nos dedicamos al diseño, elaboracion y distribucion de productos en fibra natural de <strong>yute</strong> como: bolsos, carteras, gorras, sombreros, maletines, articulos promocionales, etc...</p>
        </section>
         <section>
             <p>Toda nuestra mercadería esta confeccionada bajo la supervición y creatividad de artesanos salvadoreños que con dedicación y empeño logran producir atractivos y novedosos articulos de primera calidad.</p>
        </section>
        <footer>
            <h3>Contactanos!</h3>
            <ul>
                <li>(+503) 22746725</li>
                <li>facebook.com/yutesaes</li>
                <li>yutesa2005@yahoo.com</li>
            </ul>
        </footer>
    </article>

    <aside>
        <h3>¡Registrate!</h3>
        <p>Queremos que seas parte de nosotros, registrate llenando los siguientes datos.</p>
        <form id='formulario' method='post' action=''>{% csrf_token %}
            {{ formulario.as_p }}
            <p><input id="btnSignUp" type="submit" value="Registrar"></p>
        </form>
    </aside>
{% endblock %}