{% extends 'base.html' %}
{% block titulo %} Productos {% endblock %}

{% block contenido %}
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" id="like" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
    <article class="item">
       <figure class="product-image">
            <img src="" alt="Product Name" />
        </figure>
        <h2 class="product-title">
            <a href="#">Product Title</a>
        </h2>
        <h3 class="product-stock">
            Disponible: 2
        </h3>
        <div class="product-price">
            <p class="price">
                $200.00
            </p>
        </div>
        <div class="votes">
            <div><a href="#" class="icon-heart like">&nbsp;Like</a></div>
            <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div>
        </div>
    </article>
{% endblock %}