{% extends 'base.html' %}
{% block titulo %} Yutesa | Productos {% endblock %}

{% block contenido %}
{% for dato in datos %}
<article class="item">
    <div class="product-description">
        <figure>
            <img class="product-image" src="{{MEDIA_URL}}{{dato.ProductImage}}" alt="Product Name" />
        </figure>

        <p class="product-title">
            <a href="#">{{dato.ProductName}}</a>
        </p>
        <div class="product-price">
            <p class="price">
                ${{dato.ProductPrice}}
            </p>
        </div>
        <div class="votes">
           <!--  <form id="frmLike" name="frmLike" method="post" action="/Products2/AddLike/">{% csrf_token %}
                <input type="hidden" name="UserLikeUnlikeUserId" value="1">
                <input type="hidden" name="UserLikeUnlikeProductId" value="{{dato.ProductId}}">
                <input type="hidden" name="UserLikeUnlikeType" value="2">
                <input id="like" class="icon-heart like" type="submit" name="btnLike" value="Like">
            </form>
            <form name="frmUnLike" method="post" action="/Products2/AddLike/">
                <input type="hidden" name="UserLikeUnlikeUserId" value="1">
                <input type="hidden" name="UserLikeUnlikeProductId" value="{{dato.ProductId}}">
                <input type="hidden" name="UserLikeUnlikeType" value="2">
                <input id="UnLike" class="icon-heart UnLike" type="submit" name="btnUnLike" value="Unlike">
            </form> -->
            <div><a href="#" id="like" class="icon-heart like">&nbsp;Compartir</a></div>
            <!-- <div><a href="#" class="icon-heart-2 UnLike">&nbsp;Unlike</a></div> -->
        </div>
    </div>
</article>
{% empty %}
<article>Aún no hay productos registrados</article>
{% endfor %}
{% endblock %}